@model User

@{
    Layout = "_Layout";
}

<h1>Management page</h1>

<div class="user-info">
    <h2>@Model.LastName @Model.FirstName @Model.MiddleName</h2>
    <a asp-area="" asp-controller="account" asp-action="edit">Edit profile</a>
</div>

<hr>

<div class="articles-working">
    <h2>Articles workshop</h2>
    <a asp-area="" asp-controller="articles" asp-action="create">CREATE</a><br>
    <a asp-area="" asp-controller="articles" asp-action="myarticles">My Articles</a>
</div>