@model EmailViewModel

<form method="post" asp-action="SendReset" asp-controller="account">
    <input type="email" asp-for="Email">
    <button type="submit">Відправити лист для збросу пароля</button>
</form>