@model NewConferenceViewModel

@{
    ViewBag.Title = "Створення нової конференції";
    Layout = "_Layout";
}

<form method="post" asp-controller="conference" asp-action="create"
      asp-route-returnUrl="@Url.Action("index", "conference")">
    <div asp-validation-summary="All">
        <div>
            <label asp-for="UniqueAddress"></label>
            <input asp-for="UniqueAddress" type="text" placeholder="@Model.UniqueAddress">
            <span asp-validation-for="UniqueAddress"></span>
        </div>

        <div>
            <label asp-for="Admins"></label>
            <div>
                <input type="text" asp-for="Admins[0]" value="@Model.Admins[0]" disabled>
                <span asp-validation-for="Admins[0]"></span>
            </div>
            <div>
                <input type="text" asp-for="Admins[1]" value="">
                <span asp-validation-for="Admins[1]"></span>
      
                </div>
        </div>

        <div>
            <label asp-for="Topics"></label>
            <span asp-validation-for="Topics"></span>
            <div>
                <input type="text" asp-for="Topics[0]" value="">
            </div>
            <div>
                <input type="text" asp-for="Topics[1]" value="">
            </div>
        </div>

        <div>
            <label asp-for="UniqueAddress"></label>
            <input asp-for="UniqueAddress" type="text" placeholder="@Model.UniqueAddress">
            <span asp-validation-for="UniqueAddress"></span>
        </div>

        <div>
            <input type="submit" value="Publish">
        </div>
    </div>
</form>