@model ConferenceViewModel

@{
    Layout = "_Layout";
    var user = await userManager.GetUserAsync(User);
}

@if (Model == null)
{
    <h2>Is empty yet.</h2>
}
else
{
    if (!Model.Admins.Contains(user))
    {
        @if (Model.Participants.Contains(user))
        {
            <p>You arleady subscribed</p>
            <a asp-action="Unsubscribe" asp-controller="conference">Unsubscribe</a>
        }
        else
        {
            <a asp-action="JoinNow" asp-controller="conference">Join now!</a>
        }

        @ViewBag.ResultMessage
    }

    @foreach (var admin in Model.Admins)
    {
        <div>
            <a asp-controller="account" asp-action="index" asp-route-x="@admin.ProfileAddress">
                @admin.FullName
            </a>
        </div>
    }

    <div>
        <p>@Model.Description</p>
    </div>
}