@model NewArticleViewModel
@inject DataManager DataManager

@{
    Layout = "_Layout";
    var allTopics = DataManager.Topics.GetAll().ToArray();
}

<form enctype="multipart/form-data" asp-controller="articles" asp-action="create"
      method="post" asp-route-returnUrl="/">
    <div asp-validation-summary="All">
        <div>
            <label asp-for="UniqueAddress"></label>
            <input asp-for="UniqueAddress" type="text" placeholder="@Model.UniqueAddress">
            <span asp-validation-for="UniqueAddress"></span>
        </div>

        <div>
            <label asp-for="TopicId"></label>
            @if (allTopics.Any())
            {
                <select asp-for="TopicId">
                    @foreach (var topic in allTopics)
                    {
                        <option value="@topic.Id">@topic.Name</option>
                    }
                </select>
            }
            else
            {
                <p>any topic found</p>
            }
        </div>

        <div>
            <label asp-for="KeyWords"></label>
            <input asp-for="KeyWords" type="text">
            <span asp-validation-for="KeyWords"></span>
        </div>
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" type="text">
            <span asp-validation-for="Title"></span>
        </div>
        <div>
            <label asp-for="DocFile"></label>
            <input asp-for="DocFile" type="file">
            <span asp-validation-for="DocFile"></span>
        </div>
        <div>
            <input type="submit" value="Publish">
        </div>
    </div>
</form>