@model ArticlesListViewModel


<h1>Articles list</h1>
<p>Lorem ipsum bro</p>

@foreach (var article in Model.Collection)
{
    <article>
        <h3>@article.Title</h3>
        <p>
            <span>Topic:</span>@article.Topic?.Name
        </p>
        <p>@article.DateCreated.ToString(CultureInfo.CurrentCulture)</p>
        @Html.ActionLink("Read more", "p", "articles",
            new {Id = article.Id}, null)
    </article>
    <br/>
}