@{
    var title = ViewData["Title"] ?? "Apit";
    var language = (string) ViewData["Lang"] ?? "ua";
}

<!DOCTYPE html>
<html lang="@language">
<head>
    @await Html.PartialAsync("Partials/MetaPartial")

    <title>@title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>

<body>
<header>
    @await Html.PartialAsync("Partials/HeaderSectionPartial")
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    @await Html.PartialAsync("Partials/FooterSectionPartial")
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/scripts.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>